# Exclude everything by default
**

# Include production files
!package.json
!LICENSE
!out/extension.js
!out/inject.js
!webview/index.html
!webview/main.js
!webview/main.css
!media/icons/**
!media/logo/weblens-logo.png
